html,
body {
  height: 100%;
  background-color: #141620;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: grid;
  justify-content: end;
  align-items: end;
  padding: 16px;
}

button {
  cursor: pointer;
}

#root .nav_button {
  transition: background-color ease-out 300ms;
  background-color: transparent;
  cursor: pointer;
  width: 35px;
  color: inherit;
  height: 35px;
  display: grid;
  place-content: center;
  border: none;
  border-radius: 5px;
  font-size: 20px;
}

#root .nav_button:hover {
  background-color: rgba(255, 255, 255, 0.205);
}

.webchat__send-box {
  position: sticky;
  bottom: 33px;
  background-color: white;
  padding: 8px;
}

.webchat__send-box__main {
  padding: 2px;
  border-radius: 5px;
}

.webchat__suggested-action__text {
  font-size: 14px;
}

.webchat__suggested-actions__button {
  padding-inline: 10px !important;
}

.webchat__suggested-actions {
  max-width: 70%;
}

.webchat__suggested-actions__flow-box,
.webchat__suggested-actions__item-box {
  padding-inline: 0 !important;
  column-gap: 5px;
}

h1 {
  font-size: 16px;
  font-family: Segoe UI;
  font-weight: 600;
  color: #f3f2f1;
}

.webchat__typing-indicator {
  width: 75%;
  height: 2px;
  background-color: #d93954;
  animation: left-right alternate infinite 400ms linear;
}

@keyframes left-right {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(30%);
  }
}
